<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDs Salvos</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Pastas Selecionadas:</h1>
    <form method="POST" action="{% url 'subir_arquivo' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
            {% for pasta in pastas %}
            <li>
                <strong>Nome:</strong> {{ pasta.name }} <br>
                <input type="hidden" name="id_array" value="{{ pasta.id }}">
                <input type="hidden" name="nome_pasta" value="{{pasta.name}}">
            </li>
            {% empty %}
            <li>Nenhuma pasta selecionada.</li>
            {% endfor %}
        </ul>
        <label for="fileInput">Escolha o arquivo:</label> <br>
        <input type="file" id="fileInput" name="uploaded_file" accept=".pdf"> <br>
        <button type="submit">Subir Arquivo para pastas selecionadas</button>
    </form>
    <br>
    <br>
    <a href="{% url 'index' %}">Voltar</a>
</body>

</html>